body{
  background-color: white;
  font-family: 'IBM Plex Sans', sans-serif;
  opacity: 0;
  -webkit-animation: fadeout 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
  opacity: 1;

}



@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.heromusic {
  /*background-image: url("assets/ntd.jpg");*/


  background-size: cover;
  background-color: inherit;
  background-blend-mode: normal;
  overflow: hidden;
  object-fit: contain;
  font-family: 'IBM Plex Sans', sans-serif;

}

.subtitle {

  color: rgb(0,0,0);
  font-weight: 300;

}
.title  {
  color:rgb(0,0,0);
  font-weight: 600;
}
.hero-body{
  align-items: center;
  align-self: center;
  align-content: center;
  margin-bottom: -15px;
}

.box{
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  mix-blend-mode: normal;
  margin: auto;
  max-width: 60%,
  max-height: 60%;
}

.container .box {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 300px;
    /* padding: 250px; */
    box-sizing: border-box;
    margin: 25px 50px 75px 100px;

}

.columns{
  margin-top: -10px;
}

.section {
  margin-top: -10px;

}


.navbar-item is-active
{
  font-color: blue;
  color: blue;
}



 .workimg {
   max-width: 60%,
   max-height: 60%;
  float: right;
  flex-wrap: wrap;
  visibility: hidden;
  opacity: 0.1;
  -webkit-animation: fadeout 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;
  opacity: 1;

}

.worktext{
  font-size: 60%;
  float: left;
  position: absolute;
  top: 85%;
  text-align: left;
  flex-wrap: wrap;
  color: white;
}


.fadeIn {
    -webkit-animation: animat_show 0.8s;
    animation: animat_show 0.8s;
    visibility: visible !important;
}

@-webkit-keyframes animat_show{
    0%{opacity:0}
    100%{opacity:1}
}



ul{
  display:flex;
  justify-content: center;
  text-align: center;

}
ul li{
  display: inline-block;
  justify-content: center;
  text-align: center;

}

/* Work Samples */

.work{
  width : 100%;
  position: relative;
  margin-bottom: 20em;
}

.work > .worktext{
  float: left;
  position: absolute;
  top: 85%;
  text-align: left;
  flex-wrap: wrap;
  color: white;
  font-family: ' Karla ', sans-serif;

}

.work > .worktext > .underline {
  display: block;
  background-color: #202020;
  height: 30%;
  width: 60%;
  margin-top: 5px;
}

.work > .workimg {
  float: right;
  flex-wrap: wrap;

}

.icon{
  margin-right: 50%;
}

.breadcrumb{
  transition-timing-function: ease;
  text-rendering: geometricPrecision;

}

.fab {
   margin-right: 10px;
}

.footer{
  background-color: white;
}
